body {
    overflow-x: hidden;
}

.table-view .table-cell {
    -fx-font-size: 13px;
}

.list-cell {
    -fx-font-size: 12.0;
}

.button{
    -fx-background-color: transparent;
    -fx-border-color: #7DBAE9;
    -fx-border-width: 3px;
    -fx-border-radius: 50%;
}

.button:hover {
    -fx-border-color: #7DBAE9;
    -fx-scale-x: 1.23;
    -fx-scale-y: 1.23;
}

.button.excluded-button:hover{
    -fx-border-color: #7DBAE9;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.table-view .column-header {
    -fx-background-color: #BEDCF4;
    -fx-text-fill: #7DBAE9;
}